<%= form_for(@datum) do |f| %>
<% if @datum.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@datum.errors.count, "error") %> prohibited this data from being saved:</h2>
	<ul>
		<% @datum.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<%= f.label :Location, 'Location name' %>:
	<br />
	<%= f.text_field :location %>
</div>
<div class="field">
	<%= f.label :address, 'Location(Latitude, Longitude)' %>:
	<br />
	<%= f.text_field :address %>
</div>
<div class="field">
	<%= f.label :carrier %>:
	<br />
	<%= f.select :carrier, Datum::CARRIER_TYPES,
    :prompt => 'Select a carrier' %>
</div>
<div class="field">
	<%= f.label :wifi, 'Wifi signal strength' %>:
	<br />
	<%= f.select :wifi, Datum::SIGNAL_STRENGTH,
	 :prompt => 'Select a signal strength'%>
</div>
<div class="field">
	<%= f.label :cell, 'Cell signal strength' %>:
	<br />
	<%= f.select :cell, Datum::SIGNAL_STRENGTH,
	 :prompt => 'Select a signal strength'%>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %> 