<%= form_for(@datum) do |f| %>
<% if @datum.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@datum.errors.count, "error") %> prohibited this datum from being saved:</h2>
	<ul>
		<% @datum.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<label>Address</label>
	<br />
	<%= f.text_field :address %>
</div>
<div class="field">
	<%= f.label :carrier %>
	<br />
	<%= f.text_field :carrier %>
</div>
<div class="field">
	<%= f.label :wifi %>
	<br />
	<%= f.text_field :wifi %>
</div>
<div class="field">
	<%= f.label :cell %>
	<br />
	<%= f.text_field :cell %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %> 