<div class="section">
	<h1>Editing Datum</h1>
	<%= form_for(@datum) do |f| %>
	<div class="field">
		<%= f.label :location, 'Location name' %>:
		<br />
		<%= f.text_field :location %>
	<div class="field">
		<%= f.label :latitude %>:
		<br />
		<%= f.text_field :latitude %>
	</div>
	<div class="field">
		<%= f.label :longitude %>:
		<br />
		<%= f.text_field :longitude %>
	</div>
	<div class="field">
		<%= f.label :carrier %>:
		<br />
		<%= f.select :carrier, Datum::CARRIER_TYPES,
      	:prompt => 'Select a carrier' %>
	</div>
	<div class="field">
		<%= f.label :wifi, 'Wifi signal strength' %>:
		<br />
		<%= f.select :wifi, Datum::SIGNAL_STRENGTH,
      		:prompt => 'Select a signal strength'%>
	</div>
	<div class="field">
		<%= f.label :cell, 'Cell signal strength' %>:
		<br />
		<%= f.select :cell, Datum::SIGNAL_STRENGTH,
      		:prompt => 'Select a signal strength'%>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
	<br />
	<div class="nav">
		<%= link_to 'Show', @datum %>
		<%= link_to 'Back', data_path %>
	</div>
