<div class="section">
	<p id="notice">
		<%= notice %>
	</p>
	<p>
		<b>Latitude:</b>
		<%= @datum. latitude %>
	</p>
	<p>
		<b>Longitude:</b>
		<%= @datum.longitude %>
	</p>
	<p>
		<b>Carrier:</b>
		<%= @datum.carrier %>
	</p>
	<p>
		<b>Wifi:</b>
		<%= @datum.wifi %>
	</p>
	<p>
		<b>Cell:</b>
		<%= @datum.cell %>
	</p>
	<div class="nav">
		<%= link_to 'Edit', edit_datum_path(@datum) %>
		<%= link_to 'Back', data_path %>
	<div>
</div>
