<!DOCTYPE html>
<html>
	<head>
		<title>SignalSeeker</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
		<%= yield :head %>
	</head>
	<body>
		<div id="content">
			<div id="home">
				<%= link_to image_tag('signalSeekerLogo2.png'), home_path() %>
			</div>
			<div id="signin" class="nav">
				<% if session[:user_id].nil? %>
					<%= link_to "SIGN IN", login_path %>
				<% end %>
			</div>
			<% if session[:user_id] %>
				<div id="data" class="nav">
					<%= link_to 'DATA', data_path %>
				</div>
				<div id="users" class="nav">
					<%= link_to 'USERS', users_path %>
				</div>
				<div id="logout" class="nav">
					<%= link_to 'LOGOUT', logout_path, :method => :delete %>
				</div>
			<% end %>
			<div id="main">
				<%= yield %>
				<%= yield :scripts %>
			</div>
			<div id="footer">
				<p>
					&copy2012 Signal Seeker
				</p>
			</div>
		</div>
	</body>
</html>
